.container {

    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    /* background-color: #0079ff; */
    background-image: linear-gradient(purple, orange);
    border-radius: .3rem;
    padding-top: 1px;
}
div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    }
canvas{
    display: block;
    margin:0 auto;
    padding-top: 15px;
    }
.menu {
    align-items: center;
    }
/*
.button {
    background-color: #ff8600;
    border: none;
    color: #0079ff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}*/
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #0079ff;
  background-color: #ff8600;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: purple}

.button:active {
  background-color: #ff8600;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#stats {
  display: none;
  font-size: 16px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0079ff;;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #0079ff;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #0079ff;;
}
input[type=text], select, textarea{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  resize: vertical;
}